
<!-- Question page -->
<style>
	.question {
		text-align: center;
	}
	.answers {
		text-align: center;
	}
	.submit-answer{
		text-align: center;
	}
</style>

<body>
	<div class="question">
		<p ><%= @question.description %></p>
		<p>Submitted by User <%= @question.user_id %></p>
		<form action="/questions/:id/upvote" method="get" id="form1">
		</form>
		<button type="submit" form="form1" value="Submit">Upvote</button>
		<form action="/questions/:id/downvote" method="post" id="form2">
		</form>
		<button type="submit" form="form2" value="Submit">Downvote</button>
	</div>
	</br>
	<div class="submit-answer">
		<form action="/answers" method="post">
			Submit Answer: </br>
			<input type="text" name="answer"></br>
			<input type="submit" value="Submit"> 
		</form>
	</div>
	</br>
	<div class="answers">
		<p> Submitted Answers </p>
			 <% @question.answer.each do |answer| %>
			 <p>Description:<%= answer.description %></p>
			 <p>Posted By:<%= answer.user_id %></p>
		 <% end %>
	</div>

</body>