
<body>
<p> Homepage </p>
<p> Please Login to continue</p>
<p>Login</p>
<form action= "/sessions/new" method="get">
	<input type="submit" value="Login!">
</form>
<p>SignUp</p>
<form action= "/users/new" method="get">
	<input type="submit" value="SignUp!">
</form>
</body>

