<body>
	<p> Login </p>
	<form action ='/sessions' method="post">
		Username: 
		<input type = "text" name= "email" >
		Password:
	<input type = "password" name = "password">
	<input type = "submit" value = "Submit">
	</form>
</body>