
<body>
	<p> SignUp</p>
	<form action ='/users/new' method="get">
	Username: 
	<input type = "text" name= "username">
	Password:
	<input type = "password" name = "password">
	<input type = "submit" value = "Submit">
</form>
</body>